<h1> Deposits</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Balance</th>
  </tr>
  </thead>
  <tbody *ngFor="let depositRow of depositRows; index as i;">
  <tr>
    <th scope="row">{{i}}</th>
    <td>{{depositRow.getName()}}</td>
    <td [ngSwitch]="depositRow.edit" (click)="depositRow.edit = true">

      <span *ngSwitchCase=false>
        {{depositRow.getBalance()}}
      </span>

      <div  *ngSwitchCase=true class="input-group">
        <input (change)="depositRow.newBalance = $event.target.valueAsNumber;"
               value={{depositRow.getBalance()}}
               type="number" class="form-control">
        <div class="input-group-append">
          <button (click)="updateDeposit(depositRow); $event.stopPropagation();"
                  class="btn btn-outline-success" type="button">Save</button>
          <button (click)="depositRow.reset(); $event.stopPropagation();"
                  class="btn btn-outline-secondary" type="button">Cancel</button>
        </div>
      </div>

    </td>
  </tr>
  </tbody>
</table>

<form [formGroup]="newDepositForm" (submit)="saveNewDeposit()" *ngIf="isFormVisible()" >
  <div class="form-group form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Deposit name" formControlName="name">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Current balance" formControlName="balance">
    </div>
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-success" [disabled]="newDepositForm.invalid">Save</button>
    <button type="button" class="btn btn-secondary" (click)="hideForm()">Cancel</button>
  </div>
</form>

<button type="button" class="btn btn-success" (click)="showForm()" *ngIf="!isFormVisible()">Add deposit</button>
