<h1>Transaction list</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Deposit</th>
    <th scope="col">Tags</th>
    <th scope="col">Amount</th>
  </tr>
  </thead>
  <tbody *ngFor="let transaction of transactions | filterByDeposit:forDeposit; index as i;">
  <tr>
    <th scope="row">{{i}}</th>
    <td>{{transaction.depositName}}</td>
    <td>{{transaction.tags}}</td>
    <td>{{transaction.amount}}</td>
  </tr>
  </tbody>
</table>


<form [formGroup]="newTransactionForm" (submit)="onSubmit()" *ngIf="isFormVisible()" >

  <div class="form-group">
    <select formControlName="deposit" class="form-control" >
      <option *ngFor="let deposit of deposits; index as i;" [ngValue]="deposit">{{deposit.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Tags" formControlName="tags">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-success" [disabled]="newTransactionForm.invalid">Save</button>
    <button type="button" class="btn btn-secondary" (click)="hideForm()">Cancel</button>
  </div>

</form>

<button type="button" class="btn btn-success" (click)="showForm()" *ngIf="!isFormVisible()">Add transaction</button>

