<!--The content below is only a placeholder and can be replaced.-->


<div class="container" >
  <div id="navigation" class="btn-group btn-group-lg" role="group" *ngIf="false">
    <button class="btn btn-success" routerLink="create">create</button>
    <button class="btn btn-success" routerLink="main">main</button>
  </div>

  <div class="row box table-responsive">
    <app-deposit-list></app-deposit-list>
  </div>

  <div class="row box table-responsive">
    <app-transaction-list [forDeposit]="''"></app-transaction-list>
  </div>

</div>




